In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
df = pd.read_csv('Big_Black_Money_Dataset.csv')

# Print the first few rows of the DataFrame
df.head()

,Transaction ID,Country,Amount (USD),Transaction Type,Date of Transaction,Person Involved,Industry,Destination Country,Reported by Authority,Source of Money,Money Laundering Risk Score,Shell Companies Involved,Financial Institution,Tax Haven Country
0,TX0000000001,Brazil,3.267530e+06,Offshore Transfer,2013-01-01 00:00:00,Person_1101,Construction,USA,True,Illegal,6,1,Bank_40,Singapore
1,TX0000000002,China,4.965767e+06,Stocks Transfer,2013-01-01 01:00:00,Person_7484,Luxury Goods,South Africa,False,Illegal,9,0,Bank_461,Bahamas
2,TX0000000003,UK,9.416750e+04,Stocks Transfer,2013-01-01 02:00:00,Person_3655,Construction,Switzerland,True,Illegal,1,3,Bank_387,Switzerland
3,TX0000000004,UAE,3.864201e+05,Cash Withdrawal,2013-01-01 03:00:00,Person_3226,Oil & Gas,Russia,False,Illegal,7,2,Bank_353,Panama
4,TX0000000005,South Africa,6.433784e+05,Cryptocurrency,2013-01-01 04:00:00,Person_7975,Real Estate,USA,True,Illegal,1,9,Bank_57,Luxembourg

# Data Understanding
Im Rahmen des Data Understandings führen wir eine statistische Beschreibung der Daten durch, visualisieren sie, prüfen sie auf Qualität und identifizieren Probleme.

In [9]:
# Statistical summary of the DataFrame
print(df.describe())

# Check for missing values
print(df.isnull().sum())

       Amount (USD)  Money Laundering Risk Score  Shell Companies Involved
count  1.000000e+04                 10000.000000              10000.000000
mean   2.501818e+06                     5.526400                  4.469400
std    1.424364e+06                     2.893603                  2.879773
min    1.003180e+04                     1.000000                  0.000000
25%    1.279005e+06                     3.000000                  2.000000
50%    2.501310e+06                     6.000000                  4.000000
75%    3.722416e+06                     8.000000                  7.000000
max    4.999812e+06                    10.000000                  9.000000
Transaction ID                 0
Country                        0
Amount (USD)                   0
Transaction Type               0
Date of Transaction            0
Person Involved                0
Industry                       0
Destination Country            0
Reported by Authority          0
Source of Money                0
Money Laundering Risk Score    0
Shell Companies Involved       0
Financial Institution          0
Tax Haven Country              0
dtype: int64

Der Datensatz enthält 10'000 Transaktionen mit 14 Variablen:
- Transaction ID
- Country
- Destination Country
- Amount (USD)
- Transaction Type
- Moneylaundering Risk Score
- Shell Companies Involved
- Tax Haven Country

Es gibt grundsätzlich keine fehlenden Werte, aber der Datensatz hat Unterschiedliche Datentypen. Die verschiedenen Datentypen sind numerisch und kategorisch.3